Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
python-dotenv==1.0.0
python-telegram-bot==20.3
APScheduler==3.10.1
quart==0.18.4
hypercorn==0.14.3
sqlalchemy[asyncio]
asyncpg
quart-auth
