{% extends "base.html" %}

{% block content %}
<h1>Manage Users</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Telegram ID</th>
            <th>XTR Balance</th>
            <th>Is Admin</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.telegram_id }}</td>
            <td>{{ user.xtr_balance }}</td>
            <td>{{ user.is_admin }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
