{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST" action="{{ url_for('create_auction') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(size=32) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description(rows=4, cols=50) }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.starting_price.label }}
            {{ form.starting_price() }}
            {% for error in form.starting_price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.end_time.label }}
            {{ form.end_time() }}
            {% for error in form.end_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
